.nav {
    border-bottom: 2px solid #e5e5e5;
}

input {
    background-color: rgb(242, 242, 242);
}

.row {
    margin: 2rem 0;
}

button {
    width: 8rem;
    text-align: center;
    border-radius: 6rem;
}

a {
    color: #8c847e;
    font-size: 1.25rem;
}

.row input {
    margin: 0.25rem 0;
}