<div [hidden]="!logged" class="shadow alert alert-{{alertType}}">
    <h4>{{message}}</h4>
</div>
<nav class="container-fluid shadow">
    <ul class="nav my-2 py-1 px-3">
        <li class="nav-item">
            <h2>Login</h2>
        </li>
    </ul>
</nav>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="container col-10 col-sm-7 col-md-6 col-lg-5 col-xl-3">
        <div class="row">
            <h5 class="text-center">Login with your email and password:</h5>
        </div>

        <div class="row">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control shadow"
                    [class.show-error]="submitted && loginFormControl.email.errors?.required"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Email *"
                    formControlName="email">
            </div>
            <div>
                <div [hidden]="!submitted || !loginFormControl.email.errors?.required" class="text-danger">
                    Email is required
                </div>
                <div [hidden]="loginFormControl.email.untouched || !loginFormControl.email.errors" class="text-danger">
                    Email should be valid</div>
            </div>
        </div>


        <div class="row">
            <div class="input-group input-group-lg">
                <input type="password" class="form-control shadow"
                    [class.show-error]="submitted && loginFormControl.password.invalid"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Password *"
                    formControlName="password">
            </div>
            <div>
                <div [hidden]="!submitted || !loginFormControl.password.errors?.required" class="text-danger">
                    Password is required</div>
                <div [hidden]="loginFormControl.password.untouched || !loginFormControl.password.errors"
                    class="text-danger">Password should be at least 8 characters long</div>
            </div>

        </div>

        <div class="row mt-5 pt-4">
            <div class="text-center">
                <button class="btn btn-dark shadow">LOGIN</button>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="offset-9">
                <a [routerLink]="['/register']">Create account?</a>
            </div>
        </div>
    </div>
</form>